.area__edit-profile {
  margin-top: 50px;
}

#edit-profile__img {
  border: 1px solid gray;
  border-radius: 50%;
}

#avatar {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
}

.anchor__change-password {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}
