#login-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  border: 1px solid gray;
  border-radius: 10px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 15px;
    width: 400px;
  }

  #login-github {
    color: white;
    background-color: $github-black;
    border: 1px solid black;
    i {
      margin-left: 20px;
      font-size: 30px;
    }
  }

  #login-kakao {
    color: $kakao-brown;
    background-color: $kakao-yellow;
    border: 1px solid rgb(152, 152, 0);
    i {
      margin-left: 20px;
      font-size: 30px;
    }
  }
}

#join-anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-weight: 500;
  span {
    margin-bottom: 10px;
    color: gray;
  }
  a {
    font-weight: 600;
    font-size: 20px;
    &:hover {
      color: $youtube-red;
    }
  }
}
