#search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  form {
    display: flex;
    justify-content: center;
    .search-input {
      width: 500px;
      padding: 10px;
      border: 1px solid gray;
      border-radius: 25px 0 0 25px;
    }
    .search-button {
      margin-left: -1px;
      border: 1px solid gray;
      border-radius: 0 25px 25px 0;
      font-size: 15px;
      width: 100px;
      color: rgb(66, 66, 66);
      &:hover {
        background-color: rgb(217, 217, 217);
        cursor: pointer;
      }
    }
  }
  #video-area {
    width: 100%;
  }
}
