header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#nav-items {
  display: flex;
  align-items: center;
  li {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
  }
  text-transform: uppercase;
}

.logo {
  color: $youtube-red;
  font-size: 30px;
}

#logo-title {
  margin-left: 3px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -2px;
}

#my-page__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
}
