doctype html
html(lang="kr")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header 
            h1=pageTitle
            nav
                ul
                    li 
                        a(href="/videos/upload") Upload video
                    li 
                        a(href="/") Home 
                    li 
                        a(href="/search") Search
                    if loggedIn
                        li
                            a(href="/log-out") LogOut
                        li 
                            a(href="/my-profile") #{loggedInUser.name}
                    else    
                        li 
                            a(href="/join") Join
                        li
                            a(href="/login") Login
        main
            block content 
    include partials/footer.pug