doctype html
html(lang="kr")
    head
        block title
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main
            h1 Home
            block content 
    include partials/footer.pug