extends base.pug

block content
    h4 Update Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description", placeholder="Description", required, type="text", value=video.description)
        input(name="hashtags", placeholder="Hashtags, separated by comma.", required, type="text" value=video.hashtags.join())
        input(value="Save", type="submit")
