extends base.pug

block content
    div#join-page
        span=errorMessage
        form.form-area(method="POST")
            input.input-text(name="email", type="email", required, placeholder="Email")
            input.input-text(name="username", type="text", required, placeholder="Username")
            input.input-text(name="password", type="password", required, placeholder="Password")
            input.input-text(name="password2", type="password", required, placeholder="Confirm Password")
            input.input-text(name="name", type="text", required, placeholder="Name")
            input.input-text(name="location", type="text", placeholder="Location")
            input.input-button(type="submit" value="Create Account")
        div#login-question
            span Already have an account? 
            a(href="/login") Login in now &rarr;