extends base
include mixins/video

block content 
    form(method="GET")
        input(type="text", name="keyword", placeholder="Search by Title")
        input(type="submit", value="Search now")

    div
        each video in videos 
            +videoMixin(video)