extends base
include mixins/video

block content
    div#search-area
        form(method="GET")
            input.search-input(type="text", name="keyword", placeholder="Search by Title")
            input.search-button(type="submit" value="SEARCH")
        div#video-area
            each video in videos 
                +videoMixin(video)
                +videoMixin(video)
                +videoMixin(video)
                +videoMixin(video)
                +videoMixin(video)
