extend base.pug

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="title", placeholder="Title", required, type="text")
        input(name="description", placeholder="Description", required, type="text")
        input(name="hashtags", placeholder="Hashtags, separated by blank(space-bar).", required, type="text")
        input(type="submit", value="Upload Video")