div.social-login
    a(href="/users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |  Continue with Github &rarr;
    a(href="/users/kakao/start").social__btn.social__btn--github
        i.fa-solid.fa-comment
        |  Continue with Kakao &rarr;