extends ../base.pug 
//- base.pug가 users 폴더 밖에 있기에 현재 폴더에서 이전폴더로 나가기 위해 ../를 사용함
block content
    if errorMessage
        span=errorMessage
    form(method="post")
        input(placeholder="Old Password" name="oldPassword" type="password")
        input(placeholder="New Password" name="newPassword" type="password")
        input(placeholder="New Password Confirmation" name="newPasswordConfirm" type="password")
        input(type="submit" value="Change Password")